


body{
    background-color: #6a7d8e;
    display: flex;
    justify-content: center;
    align-items: center;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}


.calculator{
    background-color: #1c1c1c;
    width: calc(80vh / 2);
    height: 80vh;
    border-radius: 25px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}

.display{
    background: #1c1c1c;
    width: 90%;
    height: 20%;
    margin: auto;
    margin-top: 20%;
    box-shadow: inset 5px 5px 5px #161414,
            inset -1px -2px 5px #534e4e;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.calculation {
    height: 40%;
    width: 90%;
    background-color: #333; 
    border-radius: 5px; 
    font-size: 2.5rem;
    color: #fff; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px; 
}

.result {
    height: 20%;
    width: 90%;
    background-color: #333; 
    border-radius: 5px;
    font-size: 1.5rem;
    color: #fff; 
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin: 10px; 
}


.calculator-buttons{
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    text-align: center;
    padding: 1rem;
    gap: 10px;
    
}

.button{
   aspect-ratio: 1/1;
   overflow: hidden;
   background-color: #1c1c1c;
    border: 1px solid #191919;
    box-shadow:  5px 2px 3px #08080880
                ,-2px -2px 3px #242424;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

 
.equal{
     grid-area: 4 / 4 / 6 / 5;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #ffab08;
     aspect-ratio: 1/2.5;
     border-radius: 50px;
     color: #333333;
}

.operator, #clean{
    color: #ffab08;
    font-size: 1.75rem;
}

.number, .modulu{
    color:white;
}






